<div class="not-found-container">
  <mat-card>
    <mat-card-content class="not-found-content">
      <mat-icon class="not-found-icon">travel_explore</mat-icon>
      <h1>Page not found</h1>
      <p>
        The page you were looking for doesn't exist. It may have been moved, or the link might be
        out of date.
      </p>
      <a mat-raised-button color="primary" routerLink="/home">
        <mat-icon>home</mat-icon>
        Back to home
      </a>
    </mat-card-content>
  </mat-card>
</div>
