<mat-card>
  <mat-card-header>
    <mat-card-title>Products</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    @if (isLoading) {
        <div class="example-loading-shade">
        @if (isLoading) {
            <mat-spinner></mat-spinner>
        }
   
        </div>
    }
    <mat-form-field class="w-100 mt-3">
        <mat-label>Search</mat-label>
        <input matInput [(ngModel)]="filterValue" (keyup.enter)="searchProducts()" #input>
        <button class="me-2 tertiary-btn" mat-mini-fab matSuffix
            (click)="$event.stopPropagation(); addProduct()">
            <mat-icon>add</mat-icon>
        </button>
        <button class="me-2" mat-mini-fab matSuffix
            (click)="$event.stopPropagation(); searchProducts()">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
    

    <table mat-table [dataSource]="dataSource"
        matSort>
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
            <td mat-cell *matCellDef="let product"> {{product.title}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
            <td mat-cell *matCellDef="let product"> {{product.price | currency :'USD'}} </td>
        </ng-container>

        <ng-container matColumnDef="stock">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock </th>
            <td mat-cell *matCellDef="let product"> {{product.stock}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;" 
            class="clickable"
            (click)="editProduct(row, i)">
        </tr>

    </table>
    <mat-paginator 
            (page)="onPageEvent($event)"
            [pageSize]="pageSize"
            [pageIndex]="pageIndex"
            [length]="totalLength"
            [pageSizeOptions]="pageSizeOptions"
            aria-label="Select page">
    </mat-paginator>
  </mat-card-content>
</mat-card>
