.sidenav-container {
  height: 100%;
}

.content {
  padding: 16px;
  overflow-y: auto;
  max-height: 90vh;
}

.go-top-btn {
  position: fixed;
  bottom: 25px;
  right: 50%;
  z-index: 9999;
}


@media (max-width: 768px) {
  .mat-sidenav {
    width: 100%;
  }
}