<!-- src/app/side-menu/side-menu.component.html -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <ng-container *ngFor="let url of urls">
        <a mat-list-item 
          [disabled]="url.selected" 
          (click)="goTo(url.path);">
        {{url.name}}
      </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div #contentRef class="content" (scroll)="onContentScroll($event)">
      <ng-content></ng-content>
        <button class="go-top-btn"
          title="Go to Top"  
          *ngIf="showGoTop"
          mat-stroked-button (click)="goToTop()">
          <mat-icon class="m-0">arrow_upward</mat-icon>
        </button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>