<mat-card>
    <mat-card-header>
        <mat-card-title>SKILLS</mat-card-title>
        <mat-card-subtitle><small>* Please click any skills below</small></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <ng-container *ngFor="let skill of skills">
                <mat-list-item class="mb-2 pb-2 pt-2" style="height: auto;">
                    <h5 class="mt-0 mb-2">{{skill.category}}</h5>
                    <ng-container *ngFor="let item of skill.items">
                        <mat-chip class="me-1 clickable" [highlighted]="selectedSkill === item" (click)="onSelectSkill(item)">{{item}}</mat-chip>
                    </ng-container>
                </mat-list-item>
            </ng-container>
        </mat-list>
    </mat-card-content>
</mat-card>