
/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use '../theme-colors' as my-theme;




html {
  color-scheme: light dark; // Keep light and dark scheme if desired
  @include mat.theme((
    color: (
      primary: my-theme.$primary-palette,
      tertiary: my-theme.$tertiary-palette,
    ),
    typography: Roboto, // Use default typography
    density: 0
  )); // Apply the custom theme to all components
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* You might want to add more specific styling here for your 'app-root' or other components */
/* For a modern look, consider adjusting spacing, shadows, and borders */
app-root {
  flex-direction: column;
  // Add padding or margin as needed
}
