
/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use '../theme-colors' as my-theme;
@use 'bootstrap/scss/bootstrap';

:root {
  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-primary-container),
  ));

  @include mat.sidenav-overrides((
    container-background-color: var(--mat-sys-primary-container),
  ));

  @include mat.chips-overrides((
    outline-color: var(--mat-sys-inverse-primary),
    elevated-selected-container-color: var(--mat-sys-inverse-primary)
  ));
}

html {
  color-scheme: light dark; // Keep light and dark scheme if desired
  @include mat.theme((
    color: (
      primary: my-theme.$primary-palette,
      tertiary: my-theme.$tertiary-palette,
    ),
    typography: Roboto, // Use default typography
    density: 0
  )); // Apply the custom theme to all components

  @media (prefers-contrast: more) {
    @include my-theme.high-contrast-overrides(color-scheme);
  }
}

html, body { 
  height: 100%; 
  overflow: hidden;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* You might want to add more specific styling here for your 'app-root' or other components */
/* For a modern look, consider adjusting spacing, shadows, and borders */
app-root {
  flex-direction: column;
  // Add padding or margin as needed
}

mat-card {
  border-top: 4px solid var(--mat-sys-inverse-primary) !important; /* Adjust thickness (4px) as needed */
}

table tr:hover{
  background: var(--mat-sys-surface-container-high);
}

.clickable{
  cursor: pointer;
}
