<!-- src/app/side-menu/side-menu.component.html -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item (click)="goTo('home'); sidenav.close()">Home</a>
      <a mat-list-item (click)="goTo('about')">About</a>
      <a mat-list-item (click)="goTo('contact')">Contact</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>